html, body {
  font-family: monospace;
  background: #131313;
}

.flex-container {
  height: 98vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
}

.flex-item {
  width: auto;
  height: auto;
  line-height: 1;
}

#weekday {
  font-size: 8rem;
  text-align: center;
  color: #900;
}

#date {
  font-size: 8rem;
  text-align: center;
  color: #900;
}

#time {
  font-size: 25rem;
  text-align: center;
  font-weight: bold;
  color: #f00;
}
